<footer id="layout-footer">
    <div>
        <p>
            &#169; Placement Cell. All Rights Reserved
        </p>
    </div>
    
    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </nav>
    </div>
</footer>