<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">

<div id="home-container">
    <section id="feed-posts">
            <% if(locals.user){ %>
                
            <form action="/students/create" id="new-student-form" method="POST">
                <span>Create Student</span>
                <div class="row mt-2 ">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Name" name="name" aria-label="First name">
                    </div>
                    <div class="col">
                        <input type="email" class="form-control" placeholder="Email" name="email" aria-label="Email">
                    </div>
                    <div class="col">
                        <input class="form-control" type="number" placeholder="Age" name="age" aria-label="Age">
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="College" name="college" aria-label="College">
                    </div>
                    <div class="col">
                        <input class="form-control" type="text" placeholder="Status" name="status" aria-label="status">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
            </form>
            <hr>
            <% } %>

        
            <div id="posts-list-container">
                <!-- <h5>Student Details</h5> -->
                Students:
                <table class="table" id="students-table">
                    <thead>
                        <tr>
                          <% if (locals.user){ %>
                            <th scope="col">#</th>
                          <% } %>
                          <th scope="col">Email</th>
                          <th scope="col">Name</th>
                          <th scope="col">Age</th>
                          <th scope="col">College</th>
                          <th scope="col">Placement Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(student of all_students){ %>
                            
                        <%- include('_student') -%>
                            
                        <%} %>
                    </tbody>
                </table>
            </div>
        </section>
</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_students.js"></script>


