<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">

<div id="home-container">
    <section id="feed-posts">
            <h4>Posts</h4>
            <% if(locals.user){ %>
            <form action="/students/create" id="new-post-form" method="POST">
                <input type="text" placeholder="Name" name="name">
                <input type="email" placeholder="Email" name="email" id="">
                <input type="number" placeholder="Age" name="age">
                <input type="text" placeholder="College" name="college" id="">
                <input type="text" placeholder="Status" name="status" id="">
                <input type="submit" value="Submit">
            </form>
            <% } %>
        
            <div id="posts-list-container">
                <ul>
                    <% for(post of all_students){ %>
                        
                    <%- include('_post') -%>
                        
                    <%} %>
                </ul>
            </div>
        </section>
</div>

<!-- importing this script for creating the comments -->
<script src="/js/home_posts.js"></script>


