#layout-footer {
  color: white;
  background: grey;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
 }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    list-style: none; }
